.mypy_cache
.shamo
.runenv
.eggs
.cake_*
test-out/
dist
*.egg-info
.idea/
.DS_Store
__pycache__
*.status
*.pyc
*.log
.pytest_cache
.coverage
coverage.xml
.coverage.*
node_modules/
package-lock.json
Notebooks/.ipynb_checkpoints/
htmlcov/
Pipfile*
build